html {
    font-size: 16px;
    margin: 0;
}

body {
    background-color: #fff;
    color: #000;
    font-family: "Work Sans";
    margin: 0;
}

section {
    margin: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Merriweather;
}

h1 {
    font-size: 3.2rem;
    font-weight: 900;
}

h1.title {
    text-align: center;
}

p.subtitle {
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    margin: 80px 0 24px 0;
}

h3 {
    font-size: 1.5rem;
    margin: 40px 0 24px 0;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.2rem;
}
h6 {
    font-size: 1.2rem;
}
p {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

ul {
    padding: 0;
}
li {
    font-size: 1rem;
    line-height: 1.8rem;
    list-style-type: none;
    padding: 0;
}

a, a:active {
    color: rgb(189, 0, 57);
    text-decoration: none;
}

a:hover {
    color: rgba(189, 0, 57, 0.719);
    cursor: pointer;
}

.button {
    display: block;
    padding: 15px;
    border-radius: 7px;
    background-color: #0e1720ec;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
}
.button:hover {
    background-color: #0e1720a6;
    cursor: pointer;
}

.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    width: 250px;
    vertical-align: top;
    position: sticky;
    top: 0;
    padding: 0 25px;
    box-sizing: border-box;
    height: 500px;
}

.sidebar-title {
    margin-top: 80px;
}

.main-content {
    width: 800px;
    margin-left: 25px;
    padding: 0 25px;
    box-sizing: border-box;
}